@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");
body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  font-family: "Lexend Mega", sans-serif;
}
header {
  background-color: lightslategray;
  margin-top: -21px;
}
nav {
  text-align: center;
  background-color: orange;
  padding: 20px 20px;
  margin-bottom: -20px;
}

nav a {
  padding: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 150%;
}

nav a:hover {
  color: black;
  border-bottom: 5px solid black;
  transition: 0.5s border-bottom;
}
img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.bouton_intranet {
  width: 100%;
  display: inline-block;
  margin: 50px 30px;
}
.lien_intranet {
  background-color: lightslategray;
  padding: 50px 30px;
  margin: 0px 30px;
  text-decoration: none;
  color: white;
}
